%% -*- mode: erlang -*-
{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
      {emqx, {git_subdir, "git@github.com:emqx/emqx.git", {tag, "v5.1.6"}, "apps/emqx"}}
    , {emqx_ctl, {git_subdir, "git@github.com:emqx/emqx.git", {tag, "v5.1.6"}, "apps/emqx_ctl"}}
    , {emqx_utils, {git_subdir, "git@github.com:emqx/emqx.git", {tag, "v5.1.6"}, "apps/emqx_utils"}}
    , {emqx_durable_storage, {git_subdir, "git@github.com:emqx/emqx.git", {tag, "v5.1.6"}, "apps/emqx_durable_storage"}}
      %% this is my plugin's dependency
    , {map_sets, "1.1.0"}
    , {grpc_lib, {git, "https://github.com/Bluehouse-Technology/grpc_lib"}}
    , {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "git@github.com:emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {emqx_grpc_authentication, "0.0.1"},
            [ emqx_grpc_authentication
            , map_sets
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["MohammadMojatabRoshani"]}
    , {builder,
        [ {name, "MohammadMojatabRoshani"}
        , {contact, "mohammadmojtabaroshani@outlook.com"}
        , {website, "https://github.com/mmRoshani"}
        ]}
    , {repo, "https://github.com/mmRoshani/emqx-grpc-authentication"}
    , {functionality, ["Demo"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "emqx plugin that handle authentication with gRPC"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
